html {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

//body {
//  min-height: 600px;
//}

.outer-center-box {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.middle-center-box {
  display: table-cell;
  vertical-align: middle;
}

.inner-center-box {
  margin-left: auto;
  margin-right: auto;
}

.margin-right15px {
  margin-right: 15px;
}

.center-block-panel {
  display: -webkit-flex;
  -webkit-align-items: center;
  display: flex;
  align-items: center;
}